# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/

# Logs
logs/
*.log

# Dataset
data/*.csv

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Docker
*.tar

# Jupyter
.ipynb_checkpoints/
